@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300&display=swap');

:root {
    --amber-yellow: rgb(255, 191, 0);
    --electric-blue: rgb(89, 203, 232);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: black;
}

.header {
    height: 75px;
    width: 100%;
}

/* headings and logo */
h1,
h2,
h3,
h4 {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: black;
    text-align: center;
}

h1 {
    font-size: 500%;
}

h2 {
    font-size: 250%;
}

h3 {
    font-size: 150%;
}

#logo {
    float: left;
    margin-left: 15px;
    font-size: 250%;
}

#logo:hover {
    background-color: var(--amber-yellow);
    height: 100%;
    width: 2.75%;
    border-radius: 50%;
}

/* navigation */
nav {
    float: right;
    margin-right: 15px;
    font-size: 100%;

}

nav a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    margin-right: 15px;
}

nav a:hover {
    text-decoration: underline wavy 2px var(--amber-yellow);
}

.active {
    text-decoration: underline wavy 2.5px var(--amber-yellow);
}

#logo,
nav {
    line-height: 75px;
}

/* main image and cover text*/
#flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    margin-bottom: 75px;
    background: url(../images/mainimage2-small.jpg) no-repeat center center;
    background-size: cover;
    filter: saturate(3);
}

#cover-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    height: 600px;
    width: 600px;
    background-color: var(--amber-yellow);
    opacity: 0.9;
    border-radius: 50%;
}


/* what is radiation page content */
/* radiation section */
.radiation {
    text-align: center;
    padding-top: 40px;
}

.radiation h2 {
    margin: 10px;
}

.radiation span {
    border: var(--electric-blue) dotted 4px;
}

/* radiation types section */

.radiation-types {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.radiation-types div img {
    max-width: 100%;
}

#sun, #food, #gas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    border: 1px solid;
    box-shadow: 10px 15px #888888;
}

/* background radiation section */
.background-radiation {
    text-align: center;
    padding: 40px;
}

.background-radiation h2 {
    margin: 20px;
}

/* iframe section */
iframe {
    margin: auto;
    display: block;
    width: 80%;
    height: 1400px;
    /*To center iframe on page horizontally used help of aljaz-code solution in stackoverflow post */
}

/* uses in medicine page */
.uses-intro {
    padding: 40px;
}

.uses-intro h2 {
    margin: 40px;
}

/* x-ray section */
.x-ray {
    display: flex;
}

.x-ray div {
    width: 50%;
    height: 600px;
    padding-top: 50px;
}


#x-ray-image img {
    max-width: 100%;
    float: left;
}

#x-ray-text {
    max-width: 100%;
    float: right;
}

#x-ray-text h2 {
    margin-top: 30%;
}

/* fluoro section */
.fluoro {
    display: flex;
}

.fluoro div {
    width: 50%;
    height: 600px;
    padding-top: 30px;
}

#fluoro-image {
    float: right;
}


#fluoro-image img {
    max-width: 100%;
}

#fluoro-text {
    max-width: 100%;
    float: left;
}

#fluoro-text h2 {
    margin-top: 30%;
}

/* ct section */
.ct {
    display: flex;
}

.ct div {
    width: 50%;
    height: 600px;
    padding-top: 30px;
}

#ct-image {
    float: right;
}


#ct-image img {
    max-width: 100%;
}

#ct-text {
    max-width: 100%;
    float: left;
}

#ct-text h2 {
    margin-top: 30%;
}

/* nucs section */
.nucs {
    display: flex;
}

.nucs div {
    width: 50%;
    height: 600px;
    padding-top: 30px;
}

#nucs-image {
    float: right;
}


#nucs-image img {
    max-width: 100%;
}

#nucs-text {
    max-width: 100%;
    float: left;
}

#nucs-text h2 {
    margin-top: 30%;
}

/* DEXA */
.dexa {
    display: flex;
}

.dexa div {
    width: 50%;
    height: 600px;
    padding-top: 50px;
}


#dexa-image img {
    max-width: 100%;
    float: left;
    padding-bottom: 60px;
}

#dexa-text {
    max-width: 100%;
    float: right;
}

#dexa-text h2 {
    margin-top: 30%;
}

/* risks page */
/* table */
table {
    margin: 50px auto;
    font-size: 150%;
    text-align: center;
    border: black 2px solid;
}

table tr,
table td {
    padding: 15px;
    margin: 15px;
    border: black 2px solid;
}

/* questions page */
#bubble1 {
    height: 600px;
    width: 50.5%;
    background-image: url(../images/bubble.jpg);
    background-size: contain;
    float: left;
    background-repeat: no-repeat;
}

#bubble2 {
    height: 600px;
    width: 50.5%;
    background-image: url(../images/bubble.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    transform: scaleX(-1);
}

#bubble-text1 {
    float: right;
    text-align: center;
    height: 600px;
    width: 49.5%;
    padding-top: 260px;
}

#bubble-text2 {
    float: left;
    text-align: center;
    height: 600px;
    width: 49.5%;
    padding-top: 260px;
}

.bubbles h2 {
    margin-bottom: 10px;
}

/* form */
#form {
    background-color: rgb(245, 245, 245);
    border: outset;
    height: 500px;
}

#form h2,
h2 {
    padding-top: 16px;
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: inset;
    display: inline-block;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

button[type=submit] {
    background-color: var(--amber-yellow);
    cursor: pointer;
    border: outset;
    float: right;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
}

button[type=submit]:hover {
    border: inset;
}

/* footer */
footer {
    height: fit-content;
    width: 100%;
    background-color: var(--amber-yellow);
    padding-top: 15px;
    position: static;
    bottom: 0;
}

footer p {
    margin: 5px;
}

/* /* media queries */
/* for index.html page */
/* for medium screens and below */
@media screen and (max-width: 1100px) {
    #cover-text {
        height: 500px;
        width: 500px;
    }

    #cover-text h1 {
        font-size: 400%;
    }

    #cover-text h2 {
        font-size: 200%;
    }
}

/* for smaller screens and below */
@media screen and (max-width: 800px) {
    #cover-text {
        height: 400px;
        width: 400px;
    }

    #cover-text h1 {
        font-size: 300%;
    }

    #cover-text h2 {
        font-size: 150%;
    }
}

/* for even smaller screens and below */
@media screen and (max-width: 420px) {
    #cover-text {
        height: 300px;
        width: 300px;
    }

    #cover-text h1 {
        font-size: 200%;
    }

    #cover-text h2 {
        font-size: 100%;
    }
}

/* for radiation.html */
@media screen and (max-width: 950px) {
    .radiation-types {
        flex-direction: column;
    }

    #sun, #food, #gas {
        width: 80%;
        margin-bottom: 10%;
    }

    iframe {
        width: 80%;
        height: 1000px;

    } 
}


@media screen and (max-width: 500px) {
    iframe {
        width: 90%;
        height: 500px;
    } 
}

/* @media screen and (max-width: 680px) {
    #main-heading-radiation {
        
        border: green solid 2px;
    }  */
