@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    color: black;
}

/* headings and logo */
h1, h2 {
    font-family: Montserrat, sans-serif;
    color: black;
}

#logo {
    float: left;
    margin-left: 15px;
    font-size: 250%;
}

/* navigation */
nav {
    float: right;
    font-size: 100%;
}

nav a {
    text-decoration: none;
    text-transform: capitalize;
    color:black;
    margin-right: 10px;
}

#logo, nav {
    line-height: 75px;
}