@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300&display=swap');

:root {
    --amber-yellow: rgb(255, 191, 0)
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: black;
}

.header {
    height: 75px;
    width: 100%;
}

/* headings and logo */
h1, h2, h3 {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: black;
}

#logo {
    float: left;
    margin-left: 15px;
    font-size: 250%;
}

#logo:hover {
    background-color: var(--amber-yellow);
    height: 100%;
    width: 2.75%;
    border-radius: 50%;
}

/* navigation */
nav {
    float: right;
    margin-right: 15px;
    font-size: 100%;
}

nav a {
    text-decoration: none;
    text-transform: capitalize;
    color:black;
    margin-right: 15px;
}

nav a:hover {
    text-decoration: underline wavy 2px var(--amber-yellow);
}

.active {
    text-decoration: underline wavy 2.5px var(--amber-yellow);
}

#logo, nav {
    line-height: 75px;
}

/* main image */
#main-image {
    height: 600px;
    width: 100%;
    background: url(../images/main-image.webp) no-repeat center center;
}

/* what is radiation page content */
.radiation {
    text-align: center;
    height: 200px;
    border: blue solid 2px;
    padding-top: 40px;
}

.radiation p {
    margin: 10px;
}
.radiation span {
    border: rgb(89,203,232) dotted 4px;
}



.radiation-types {
    display: inline-block;
    height: 800px;
    border: green solid 6px;
}

.radiation-types div p {
    margin: 15px;
    padding: 10px;
    text-align: justify;
 }

#sun {
    border: red solid 2px;
    float: left;
    width: 33%;
    display: inherit;
}

#sun img {
    max-width: 100%;
    max-height: 50%;
}

#food {
    border: red solid 2px;
    width: 33%;
    display: inherit;
}

#food img {
    max-width: 100%;
    max-height: 50%;
}

#gas {
    border: red solid 2px;
    float: right;
    width: 33%;
    display: inherit;
}

#gas img {
    max-width: 100%;
    max-height: 50%;
}

iframe {
    margin: auto;
    display: block;
    /*To center iframe on page horizontally used help of aljaz-code solution in stackoverflow post */
 } 

/* footer */
footer {
    height: 75px;
    width: 100%;
    background-color: var(--amber-yellow);
    padding-top: 15px;
    position: fixed;
    bottom: 0;
}

footer p {
    margin: 5px;
}